* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
}

header {
  background: #2c3e50;
  padding: 10px;
}

h1 {
  color: #ecf0f1;
}
h2,
h3 {
  font-weight: 300;
}

a {
  text-decoration: none;
}

figcaption {
  font-size: 75%;
  font-weight: lighter;
}

.portrait {
  width: 100%;
}

input,
button {
  font-size: 1em;
}
