/* General */

* {
  margin: auto;
  padding: auto;
}

/* Main Elements */

body {
  font-family: "Roboto", sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
}

header {
  background: #2c3e50;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-around;
}

nav > a {
  color: #ecf0f1;
  margin: 0 20px;
}

nav > a:hover {
  border-bottom: 3px solid;
}

main {
}

figcaption {
  font-size: 75%;
  font-weight: lighter;
}

contact {
  padding: 0 10px 0px 10px;
  margin: 20px;
}

footer {
  background: grey;
  height: 100px;
  padding: 20px;
}

/* Typography */

h1 {
  color: #ecf0f1;
}

h2,
h3 {
  font-weight: 500;
  margin: 10px;
}

a {
  text-decoration: none;
}

a > img {
  margin: 20px;
}
1

/* Forms, Input */

input,
button {
  font-size: 1em;
}

/* Lists */

ul {
  list-style: square inside;
}

.portrait {
  width: 100%;
}

.biography > p {
  padding: 20px;
}
