.about-me__summary {
  line-break: auto;
  margin: 0 10px 0 0;
}

.about-me__hobby-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  line-break: ;
  padding: 0;
}

.about-me__hobby-item {
  font-size: 50px;
  margin: 0 10px;
}

@media (min-width: 992px) {
  .about-me__hobbies,
  .about-me {
    width: 45%;
  }

  .about-me__hobby-item {
    width: 45%;
  }
}
