.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0;
  margin: 20px;
}

.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-item {
  font-weight: bold;
  margin-top: 15px;
}

.contact-item > p {
  font-weight: 300;
  margin: 5px 0;
}

i.contact-icon {
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin: 10px 0;
}
