.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0;
  /* margin: 20px; */
}

.contact__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact__item {
  font-weight: bold;
  margin-top: 15px;
}

.contact__item > p {
  font-weight: 300;
  margin: 5px 0;
  white-space: nowrap;
}

i.contact--icon {
  display: flex;
  justify-content: center;
  font-size: 75px;
  margin: 10px 20px;
}

@media (min-width: 576px) {
  .contact {
    justify-content: space-evenly;
  }

  .contact__list {
    padding: 0 5px;
  }

  i.contact--icon {
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .contact {
    width: 65%;
  }

  .contact__list {
    padding: 0 10px;
  }

  i.contact--icon {
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .contact {
    width: 65%;
  }

  .contact__list {
    padding: 0 20px;
  }
}
