@import '_constants.css';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header__title {
  display: block;
  margin: 0 20px;
  letter-spacing: -2px;
}

.header__menu-list-container {
  margin: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.header__menu-list {
  padding: 0 10px;
}

.header__menu-item {
  color: var(--color-grey);
  font-weight: 400;
  text-decoration: none;
  padding: 0;
}

.header__menu-item:hover {
  border-bottom: 3px solid var(--color-grey);
}

@media (min-width: 576px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__menu-list {
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .header__menu-list {
    padding: 0 25px;
  }
}
