.hero {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.hero__portrait-picture {
  border-radius: 50%;
}

.hero__title {
  color: var(--color-dark-grey);
  font-weight: bolder;
  font-size: 40px;
  letter-spacing: -2px;
  margin: 10px;
}

.hero__sub-title {
  color: var(--color-grey);
  font-weight: 300;
  margin: 0 0 20px 0;
}

.hero__social-icons {
  font-size: 24px;
}

.hero__social-icons > a {
  text-decoration: none;
}

.social-icon {
  margin: 10px;
}

.fab {
  color: var(--color-dark-grey);
  margin: 0 10px;
}
