.red {
  color: var(--color-red);
  margin: 0;
  margin: 0;
}

.yellow {
  background-color: var(--color-yellow);
}

.green {
  background-color: var(--color-green);
}

.white-font {
  color: var(--color-white);
}
.columns {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

@media (min-width: 768px) {
  .row-reserve {
    flex-direction: row-reverse;
  }
}

@media (min-width: 992px) {
  .columns {
    flex-direction: row;
    justify-content: space-around;
  }
}
