@import '_base.css';
@import '_constants.css';
@import '_typography.css';
@import '_utilities.css';
@import 'components/header.css';
@import 'components/hero.css';
@import 'components/about_me.css';
@import 'components/skills.css';

/* || GENERAL */

.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card {
  border-radius: 20px !important;
  color: var(--color-grey);
  margin: 10px 0;
  padding: 20px;
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scrolltop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--color-grey);
  bottom: 15px;
  right: 15px;
  padding: 12px;
  border-radius: 50%;
  text-decoration: none;
  color: var(--color-white);
}

/* || ABOUT ME */

/* || CONTACT */

/* || EXPERIENCE */

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: var(--color-white);
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--color-grey);
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

/* || MEDIA BREAKPOINT 576PX */

@media (min-width: 576px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-list {
    padding: 0 15px;
  }

  .card {
    margin: 10px;
  }

  .card-container {
    flex-direction: row;
  }

  .contact {
    justify-content: space-around;
  }
}

/* || MEDIA BREAKPOINT 768PX */

@media (min-width: 768px) {
  .menu-list {
    padding: 0 25px;
  }

  .content-container {
    flex-direction: row;
  }

  .row-reserve {
    flex-direction: row-reverse;
  }

  .section-title {
    margin: 30px;
  }

  .contact {
    width: 100%;
  }
}

/* || MEDIA BREAKPOINT 992PX */

@media (min-width: 992px) {
  .columns {
    flex-direction: row;
    justify-content: space-around;
  }
  .hobbies,
  .about-me {
    width: 45%;
  }

  .hobby-item {
    width: 45%;
  }

  .contact {
    width: 65%;
  }

  i.contact-icon {
    font-size: 100px;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
