@import '_constants.css';
@import '_base.css';
@import '_typography.css';
@import '_utilities.css';
@import 'components/header.css';

/* || GENERAL */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card {
  border-radius: 20px !important;
  color: var(--color-grey);
  margin: 10px 0;
  padding: 20px;
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scrolltop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--color-grey);
  bottom: 15px;
  right: 15px;
  padding: 12px;
  border-radius: 50%;
  text-decoration: none;
  color: var(--color-white);
}

/* || SITE-TITLE */

/* || HOME */

.home {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.portrait {
  border-radius: 50%;
}

.title {
  color: var(--color-dark-grey);
  font-weight: bolder;
  font-size: 40px;
  letter-spacing: -2px;
  margin: 10px;
}

.sub-title {
  color: var(--color-grey);
  font-weight: 300;
  margin: 0 0 20px 0;
}

.social-container {
  font-size: 24px;
}

i.head-icon {
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin: 10px 0;
}

.fab {
  color: var(--color-dark-grey);
  margin: 0 10px;
}

.social-container > a {
  text-decoration: none;
}

.social-icon {
  margin: 10px;
}

/* || ABOUT ME */

.about-me {
  line-break: auto;
}

.hobby-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  line-break: ;
  padding: 0;
}

.hobby-item {
  font-size: 50px;
  margin: 0 10px;
}

/* || SKILLS */

.skill-list {
  padding: 0;
}

.skill-item {
  display: flex;
  flex-direction: column;
  text-emphasis: none;
}
.progress {
  width: 100%;
}

/* || CONTACT */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0;
  margin: 20px;
}

.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-item {
  font-weight: bold;
  margin-top: 15px;
}

.contact-item > p {
  font-weight: 300;
  margin: 5px 0;
}

i.contact-icon {
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin: 10px 0;
}

/* || FOOTER */

.footer-container {
  padding: 20px;
  text-align: center;
}

.footer-container > span {
  color: var(--color-red);
  margin: 0 2px;
}

/* || EXPERIENCE */

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: var(--color-white);
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--color-grey);
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

/* || MEDIA BREAKPOINT 576PX */

@media (min-width: 576px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-list {
    padding: 0 15px;
  }

  .card {
    margin: 10px;
  }

  .card-container {
    flex-direction: row;
  }

  .contact {
    justify-content: space-around;
  }
}

/* || MEDIA BREAKPOINT 768PX */

@media (min-width: 768px) {
  .menu-list {
    padding: 0 25px;
  }

  .content-container {
    flex-direction: row;
  }

  .row-reserve {
    flex-direction: row-reverse;
  }

  .section-title {
    margin: 30px;
  }

  .contact {
    width: 100%;
  }
}

/* || MEDIA BREAKPOINT 992PX */

@media (min-width: 992px) {
  .columns {
    flex-direction: row;
    justify-content: space-around;
  }
  .hobbies,
  .about-me {
    width: 45%;
  }

  .hobby-item {
    width: 45%;
  }

  .contact {
    width: 65%;
  }

  i.contact-icon {
    font-size: 100px;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
